header {
    display: flex;
    flex-direction: row;
    background-color: rgb(40, 59, 59); 
    padding: 11.5px; 
    margin: -1% -1% 0px -1%;
    font-family: Roboto;
}


.titre {
padding-left: 38%;
margin-bottom: -15rem;
text-align: center;
}

.logo {
    margin-left: 0.60rem;
    margin-top: 0.6rem;
}


.connexion_bg {

    margin-left: 17%;
    margin: 90px;
    margin-top: 80px;
    font-family: 'Courgette', serif;
    font-size: 1.5em;
    width: 600px;

}
 
.z-text {
    font-family: 'Courgette', serif;
    font-size: 1.4em;   
    width: 98%;
}

.b_retour {
    position: absolute;
    bottom: 2em;
    right: 2em;

    height: 65px;
    width: 130px;


    font-size: 1.9em;
    border-radius: 1.7em;
}

 .b_connexion {
    font-weight: bold;
    margin-top: 10px;  
}  
