@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap');

body{
    background-image: url("background_connexion.jpg");
    background-size: cover;
}

.connecter, .modifier{
    border: solid;
    border-color: #14b39b;
    height: 30%;
    width: 30%;
    margin-left: 35%;
    margin-top: 5%;
}

.sous-titre{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 2em;
    padding-left: 30%;
    padding-top: 1%;
    padding-bottom: 2.5%;
    color: #18c9ae;

}

.nom, .mdp, .button{
    display: flex;
    flex-direction: column;
    width: 30%;
    padding-left: 35%;
    padding-bottom: 5%;
    color: #18c9ae;
    font-size: 1.5em;
}