<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./template1.css">
  
</head>

<body>
  <h1> texte au milieu et image sur le côté</h1>
  <main>
    <div class="grid">
        <div class="image" id="image_gauche">
            
        </div>
        <div class="texte">
            <p>
                <h2> sous titre </h2> 
                <h3 class = 'texte'>
                
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in hendrerit ante, ac scelerisque tortor. Nulla sit amet tellus fermentum, posuere magna quis, sodales quam. Vestibulum varius mollis dui, non ornare est vestibulum eget.
                    Quisque quis consequat nunc. Nullam ultrices dapibus metus, sed interdum nisi tincidunt vitae.
                    Donec tincidunt enim at metus dapibus, id elementum arcu malesuada. Phasellus quam sapien, pellentesque sit amet sodales elementum, laoreet efficitur tellus. Fusce auctor accumsan ex, ut elementum magna fermentum sit amet.
                    Nullam lobortis sem odio, a fringilla purus iaculis ut. Etiam elementum finibus diam non vulputate. Proin et varius augue, nec scelerisque arcu. Morbi id felis nec magna dictum sollicitudin eu in nunc. Nullam at condimentum lorem, sed commodo tellus. Integer quis rhoncus orci. Nam elementum nibh malesuada, sodales lectus quis, viverra enim.<br><br>
          
                </h3>
            </p>
            <p>
                <h2>sous titre </h2>
                <h3 class = texte>
                    Ut molestie, turpis et aliquam dapibus, justo mi facilisis augue, ac vestibulum lorem diam ut turpis. Morbi scelerisque molestie mauris id porta. Aliquam tincidunt quam non nisl accumsan blandit. Aenean et suscipit sem, id accumsan dolor.
                    Ut vehicula lectus eget sem ullamcorper, consectetur luctus eros tristique. Proin nec ligula elementum, convallis mauris vitae, lobortis felis. Cras sed sapien ac ligula vulputate facilisis sed nec nulla.
                    Aliquam eu lacus vehicula, condimentum tellus ut, interdum lectus. Aliquam placerat ultrices aliquet. Proin luctus, metus nec viverra tempus, mauris lorem faucibus dolor, tristique sagittis nisi dui in felis.
                    Donec tincidunt ex sed elit scelerisque condimentum. Aliquam consectetur convallis eros, non fringilla lorem porttitor tempus.
                    Aliquam ac magna nec risus venenatis rutrum id non diam. Etiam est ligula, porta in orci ac, egestas tempor risus.
                </h3>
            </p>
        </div>
        
        <div class="image" id="image_droite">
            
        </div>
    </div>
        <h1>Choose Wisely</h1>
        <div class="choose">
            <div class = "case" id="bowser">

            </div>
            <div class="case" id="amphinobie">

            </div>
            <div class="case" id="rondoudou">

            </div>
            <div class="case_text" id="nom1">
                Bowser
            </div>
            <div class="case_text" id="nom2">
                amphinobie
            </div>
            <div class="case_text" id="nom3">
                rondoudou
            </div>
        </div>
  </main>
   
</body>
<footer>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    </p>
    <p> 
        Vero, adipisci maxime? Illo voluptatibus in qui vitae
    </p> 
    <P>
        error obcaecati odio similique quisquam porro aperiam amet deserunt, velit maiores optio hic fugiat.
    </P>
</footer>