<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href = "template_1.css">
  <link rel="stylesheet" href = "style_text.css">
  <link rel="stylesheet" href = "styleDD.css">
  
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=titre:wght@600&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=soustitre:ital,wght@0,600;1,300&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=texte:ital,wght@0,100;0,600;1,300&display=swap');
</style>

<body>
    <div id = "titre" class="text movable textetest" style="padding-top: 10vh;
    text-transform: uppercase;
    
    font-size: 2rem;
    letter-spacing: 0.5rem;
    font-family: 'titre', sans-serif;
    color: #8c6c91;
    width: 100vw;
    height: 20vh;
    background-color: seashell;
    margin: 10vh auto; 
    position: absolute;
    top: 0px;
    text-align: center;"  > texte au milieu et images sur les côtés</div>

    <img src="image/reoz.png" id="image_gauche" class="item movable img" style="background: center/cover crimson; 
    position: absolute;
    top: 50vh;
    clip: rect(auto, 700px, auto, 200px);
    overflow: hidden;
    left: -200px;
    height: 50vw;">

     <img src="image/koku.png" id="image_droite" class="item movable img" style="background: center/cover royalblue; 
    position: absolute;
    top: 50vh;
    clip: rect(auto, 700px, auto, 200px);
    overflow: hidden;
    right: -400px;
    height: 50vw;">

    <div id= "texte_milieu" class="text movable textetest" style="position: absolute;
    top: 50vh;
    left: 37vw;
    width: 30vw;
    text-align: justify;
    font-size: 1rem;
    font-family: 'texte', sans-serif;
    line-height: 1.5rem;
    color: #8c6c91;
    min-width: 30rem;

    ">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi, aliquam. Commodi, veniam? Sunt nam eligendi cum, aliquid exercitationem laboriosam dicta ducimus, sint quisquam ea voluptas veniam necessitatibus asperiores consequuntur incidunt eaque labore praesentium nihil illo perspiciatis aliquam provident. Officia odio aspernatur facere fugiat? Repellendus veniam ex tempora. Sed sapiente recusandae, labore velit eos veritatis dolorum rerum repudiandae adipisci tempore accusantium quia ea soluta quasi minus, temporibus voluptatum illum. Iusto excepturi vitae assumenda labore. Facere excepturi et in consectetur blanditiis fugit cumque dolor deleniti exercitationem dolore reiciendis, necessitatibus error minus illo eaque commodi modi laboriosam tenetur quisquam nisi voluptatum repellendus dolorem.</div>
    <div id = "titre" class="text movable textetest" style="
    padding-top: 10vh;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 0.5rem;
    font-family: 'titre', sans-serif;
    color: #8c6c91;
    width: 100vw;
    height: 20vh;
    background-color: seashell;
    margin: 10vh auto; 
    position: absolute;
    top: 160vh;
    text-align: center;"  > trois choix</div>

    <img src="image/casu01.png" id="image_b" class="item movable img" style="background: center/cover goldenrod; 
    position: absolute;
    clip: rect(20px, auto,270px,auto);
    top: 215vh;
    left: 5vw;
    overflow: hidden;
    width: 20vw;">

    <img src="image/marie.png" id="image_a" class="item movable img" style="background: center/cover skyblue; 
    position: absolute;
    clip: rect(20px, auto,270px,auto);
    top: 215vh;
    left: 80vw;
    overflow: hidden;
    width: 20vw;">

    <img src="image/alexandar.png" id="image_r" class="item movable img" style="background: center/cover palevioletred; 
    position: absolute;
    clip: rect(20px, auto,270px,auto);
    top: 215vh;
    left: 42vw;
    overflow: hidden;
    width: 20vw;">

    <div id="texte_b" class="text movable textetest" style="position: absolute;
    top: 247vh;
    left: 9vw;
    width: 10vw;
    text-align: center;
    font-family: 'titre', sans-serif;
    color: #8c6c91;
    border: #8c6c91 solid;
    border-radius: 2.5rem;">Bowser</div>
   
   <div id="texte_a" class="text movable textetest" style="position: absolute;
    top: 247vh;
    left: 46vw;
    width: 10vw;
    text-align: center;
    font-family: 'titre', sans-serif;
    color: #8c6c91;
    border: #8c6c91 solid;
    border-radius: 2.5rem;">rondoudou</div>
    <div id="texte_r" class="text movable textetest" style="position: absolute;
    top: 247vh;
    left: 85vw;
    width: 10vw;
    text-align: center;
    font-family: 'titre', sans-serif;
    color: #8c6c91;
    border: #8c6c91 solid;
    border-radius: 2.5rem;">amphinobie</div>


</body>

<footer style="background: rgb(34, 30, 30);
position: absolute;
color: whitesmoke;
width: 100vw;
height: 20vh;
text-align: left;
text-align: center;
bottom: -200vh;">
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    </p>
    <p> 
        Vero, adipisci maxime? Illo voluptatibus in qui vitae
    </p> 
    <P>
        error obcaecati odio similique quisquam porro aperiam amet deserunt, velit maiores optio hic fugiat.
    </P>
</footer>

<script src="scriptDD.js"></script>
<script src="script_text.js"></script>
</html>