<div id="5" class="text movable" style="position: absolute; font-size: 32px; font-family: titre, sans-serif; color: rgb(140, 108, 145); text-transform: uppercase; height: 50px; left: 20%; top: 150px; width: 60%; text-align: center; z-index: 999;">Choose whisely</div>
                    
<div id="6" class="movable bandeau seashell" style="position: absolute; left: 0%; top: 50px; width: 100%; height: 250px; z-index: 998;"></div>


<div id="7" class="movable img" style="position: absolute; background: goldenrod url(./Images/casu01.png) repeat scroll center center / cover; left: 10%; top: 400px; width: 20%; height: 350px; z-index: 1000;"></div>

<div id="8" class="movable img" style="position: absolute; background: skyblue url(./Images/marie.png) repeat scroll center center / cover; left: 40%; top: 400px; width: 20%; height: 350px; z-index: 1000;"></div>

<div id="9" class="movable img" style="position: absolute; background: palevioletred url(./Images/alexandar.png) repeat scroll center center / cover; left: 70%; top: 400px; width: 20%; height: 350px; z-index: 1000;"></div>

        
<div id="10" class="text movable" style="position: absolute; top: 750px; left: 10%; width: 20%; height: fit-content; text-align: center; font-family: titre, sans-serif; color: #8c6c91; z-index: 1000;">Bowserrr</br><button class="boutton style_bouton1">bowser</button></div>

<div id="11" class="text movable" style="position: absolute; top: 750px; left: 40%; width: 20%; height: fit-content; text-align: center; font-family: titre, sans-serif; color: #8c6c91; z-index: 1000;">Amphinobie</br><button class="boutton style_bouton1">Amphinobie</button></div>

<div id="12" class="text movable" style="position: absolute; top: 750px; left: 70%; width: 20%; height: fit-content; text-align: center; font-family: titre, sans-serif; color: #8c6c91; z-index: 1000;">Rondoudou</br><button class="boutton style_bouton1">Rondoudou</button></div>

<div class="addSection">
    <label class="labelAddSection">
        + Ajouter une section
    </label>
    <img src="./srcs/poubelle_white.png" class="delSection" alt="delSec">
</div>
<div class="btnSizeContainer">
    <img src="./srcs/arrow_up_white.png" class="arrowSection sectionUp" alt="up">
    <img src="./srcs/arrow_down_white.png" class="arrowSection sectionDown" alt="down">
</div>
<div class="chooseAdd hide"></div>