<div id="13" class="movable text" style="position: absolute; color: whitesmoke; width: 100%; height: fit-content; text-align: center; top: 0px; left: 0%;z-index: 1000;"> 
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    </p>
    <p> 
        Vero, adipisci maxime? Illo voluptatibus in qui vitae
    </p> 
    <P>
        error obcaecati odio similique quisquam porro aperiam amet deserunt, velit maiores optio hic fugiat.
    </P>
</div>
<div class="movable" style="position: absolute; background: rgb(34, 30, 30); position: absolute;top: 0px; left: 0%; width: 100%; height: 150px; z-index: 999;"></div>

<div class="addSection">
    <label class="labelAddSection">
        + Ajouter une section
    </label>
    <img src="./srcs/poubelle_white.png" class="delSection" alt="delSec">
</div>
<div class="btnSizeContainer">
    <img src="./srcs/arrow_up_white.png" class="arrowSection sectionUp" alt="up">
    <img src="./srcs/arrow_down_white.png" class="arrowSection sectionDown" alt="down">
</div>
<div class="chooseAdd hide"></div>